<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkndeliver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application tools:ignore="ExtraText,GoogleAppIndexingWarning"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">


            <activity android:name="parkNDeliver.main.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

            <meta-data android:name="com.here.android.maps.appid"
                       android:value="HesW0J3oFPHDQQNT37Ib" />
            <meta-data android:name="com.here.android.maps.apptoken"
                       android:value="Ux6cXdJRPcrNXGEBNFr1AQ" />
            <meta-data android:name="com.here.android.maps.license.key"
                       android:value="SnbZ6FQ4ehALATS1eZu0p2cfmZUtmFA1s/crbYl68jyYyCdK2WoPCoLSGXgsUiycRVeVVXOYcULyPIhfghNaRUPonLjkGvFdRRrMowtTb+Qdw/a8M9SNstGwf6qAANy0tBOGiZ2L5nDTgVaB/H3X9XgREjYkp6NvMti9iPrX/FjlnrwLLAgXqgGG3GvRcVPh07OzydfKVrhwZYT1YBhHmnT+UMT+cRqEPl53lwdceYaHnNWFOzhceEU8oYQkvTVZrcls0Rb7sthRUqakp6QF58mr+cQO1wQmKNuNsiYk9odjLdiIOyD/CqpsBZpSAcOklAHwwql6QapdDlnhL05hK/qzkUfNExxaDLQ8d2dGAXahl2A3Z8oF7b+mFOygHIt6JNPBdiBbXQ0GfPsJWg3BhfYqBbm5/TiJNnkUiBuP+IHS/U6jUCHOaL6Y7rmfq3HtvP4qv7lgqbYbS8bfx+fREldAOgsH2523lQUvbzbsYBClDA3AaWVcRM3T54j1216HxHJTeLhMC1+W2kMiuIHOuZiuEVzOUIePKrmIOcPATPZ9SMc1Fe3ug3sdZdphzN675DH8OJuVN2GqJS69jib1k9sA4LR93ZHNBYpplqHv7FQedSU4suiwqa68FtBf0fKPaUQia5LChZKtqmQGjSqniSd23mhNE2aRjqyeikqwC1k="/>

        <service
                    android:name="com.here.android.mpa.service.MapService"
                    android:label="myLabelName"
                    android:exported="false">
                <intent-filter>
                    <action android:name="myIntentName">
                    </action>
                </intent-filter>
            </service>
    </application>

</manifest>