<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkndeliver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application tools:ignore="ExtraText,GoogleAppIndexingWarning"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">


            <activity android:name="parkNDeliver.main.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

            <meta-data android:name="com.here.android.maps.appid"
                       android:value="rDaqBSqbn6EqrgT1YuFi" />
            <meta-data android:name="com.here.android.maps.apptoken"
                       android:value="FYu5VZHOX83IBfT8SyeOgQ" />
            <meta-data android:name="com.here.android.maps.license.key"
                       android:value="MoGDsJvVtyxSEHTeJzvdm3AARvYWe8qj50sAZm7FJhP7BD59S9r5Prq31xs86K0C7h8qT870CX7qLEbO6MUogwVWyFIdL4AYO3/8RF7U96akpyvxxlZ9i2xFP6GR/YJq19Ld5/QDstO6eaAUyz6XikyE7ykB0lv8P0etGVFMF3WzIEoNBRls0mbBpx0dhB7kftH2WivOiH8Cgdmb0H7uK2HucWePnLPcgSb3JtdJ0rjQs7Upq5z1LBO8AhMzJsVMcwcB9OfK3lV7lvQUU9CVJ58/eO2QfB9LwxOGpePkTPMrKdEW+tfWVqwvlARInhQ+luospKtGuHgUSP+DAjuJLMEPwwJv0K0xgNrYI0hxBTcLl/DzSVgr4sZufd5dbxzgD36RxcJ64Sg/QHMLeEh9wzAeZIRYNwDFNx0Fjs0V0y0QYRdmMDpGMhQ2tz8rN4VhKWW8gBcuW2XqiJh1XC3AEP4+iVjxGqQXk4JZpZD8+vLo+uDx17Ypmx7ReK+YbhtSeIs/1xYOiX+2Hl9uAdsTbDhyltO0U1VeBR3FVLNL+3vu6HL8/pQx4rikLsjlKjrSjqp1hJZ2WwqWPVgqIPtSoas6gZpKMxUp/eqwvRWtss4Bha7YrsakWewIKtzL6IIoaOxH/LDp1TMvOCchvLDnlPHNGYhd+RRdMYc4FRmqPU0="/>
        <service
                    android:name="com.here.android.mpa.service.MapService"
                    android:label="myLabelName"
                    android:exported="false">
                <intent-filter>
                    <action android:name="myIntentName">
                    </action>
                </intent-filter>
            </service>
    </application>

</manifest>