<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.parkndeliver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application tools:ignore="ExtraText,GoogleAppIndexingWarning"
                 android:icon="@mipmap/ic_launcher"
                 android:label="@string/app_name"
                 android:hardwareAccelerated="true"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme">

            <meta-data android:name="com.here.android.maps.appid"
                       android:value="HesW0J3oFPHDQQNT37Ib" />
            <meta-data android:name="com.here.android.maps.apptoken"
                       android:value="Ux6cXdJRPcrNXGEBNFr1AQ" />
            <meta-data android:name="com.here.android.maps.license.key"
                       android:value="U1UA259NbEe6j2Vb0Hlcea+G34MU9bN5kROdMGzpCvMbq/Qd9yB1zX3gzemRUOR54p2GjCPcfXglKSbohRFnXE4la9JFQ6io5yp8d8Eb5aL8u0/o4KSDiwjlcPwp6+HsYKH01FodMvf0kW0YvEaN9Z8amcBhQOaBsKlULX7v4yIe11yoa5uMrzcQnDcIvVkAKjT3xI5RNmFtOLbh6QfRv799svlGbmAAQmjvA0NStEmOgFOG1NgfpC2VeR2FwBef74ZzFtSQCVnwRplxtXxvf7V+PnnptK1j3Ojz5laQVD6pmq7/8U8ij+8+sgmYZRgBR+MtuWycoJW91nkZCRi27jivE/DRHXObgp++CdLJeVlouTb2VvRhsLRN0he1tZjRmgQZB1Z2FxBKLus/K1NLOKuIhW4v/PmAuSHIoBdJ1oRj9zW6XuiaUwIDF8wv0scPzeQQ5HjK4+9pNqWLcLXqNm10dG8BZ8i4YgEpKzwy/BEixq8imaz9CmQiiY8Y1azTozd/RFUCnrOhqriK4tIuZRZEZYNkzqrEwmYaczSBXVVjIgJcKGYEYLjlcdd+05W/NeLOTEWheLTeGfe9hSXpRIQC3tKY93Ans1Q+V+q6U7obYTsY5HE4Tj9scYgRWwxBFlxIK+zUMI1gKLYfb1V2LKETcpuzxjWFQ49AZcS4Ubk="/>

            <activity android:name="parkNDeliver.main.MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN"/>

                    <category android:name="android.intent.category.LAUNCHER"/>
                </intent-filter>
            </activity>

            <service
                    android:name="com.here.android.mpa.service.MapService"
                    android:label="myLabelName"
                    android:exported="false">
                <intent-filter>
                    <action android:name="myIntentName">
                    </action>
                </intent-filter>
            </service>
    </application>

</manifest>